<table width="100%" height=50px>
	<tr>
		<th id="t01">Rotten Potatoes!</th>
	</tr>
</table>
	<h1>Editando o filme <%= @filme.titulo %></h1>

<%= render 'form', filme: @filme %>

<%= link_to 'Mostrar', @filme %> |
<%= link_to 'Voltar', filmes_path %>
